---
interface Props {
    src: string;
    alt: string;
    class: string;
}

const { src, alt, class : string} = Astro.props;
---

<div class="hero min-h-screen ">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <img src={src} alt={alt} class="max-w-sm rounded-lg shadow-2xl"/>
      <div>
        <h1 class="text-5xl font-bold font-chicle text-white tracking-wider">Theurapeutic massage for every body</h1>
        <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>