---
interface Props {
    src: string;
    alt: string;
    class: string;

}

const { src, alt, class : string} = Astro.props;
---

<div class="hero min-h-screen ">
    <div class="hero-content flex-col lg:flex-row-reverse w-1/2">
        <img src={src} alt={alt} class="max-w-sm rounded-lg shadow-2xl"/>
      <div class="w-1/2">
        <h1 class="text-5xl font-bold font-chicle text-white tracking-wider">Theurapeutic massage for every body</h1>
        <p class="py-6">Creating a space for healing and relaxation, we provide a variety of therapeutic massage services to help you feel your best.
        </p>
        <button class="btn btn-primary">Book Now</button>
      </div>
    </div>
  </div>