@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Romancial";
    src: url("./fonts/Romancial.ttf");
}

@font-face {
    font-family: "Cruiser";
    src: url("./fonts/Cruiser.ttf");
}
  