body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

h2 {
    color: #035A9D;
    font-size: 20px;
    
}
.container {
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.header {
    background: url(assets/worldmap.png);
    height: 213px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 12.21px;
}

.head {
    padding-left: 15px;
}

.parrot {
    width: 94px;
    height: 84px;
    margin: 0;
}

.logo {
    color: #32CD32;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 43.42px;
    margin: 0; 
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.textBox {
    background: #EFF0F4;
    border: none;
    border-radius: 8px;
    width: 317px;
    height: 118px;
    font-weight: bold;
    color: #333333;
    text-align: left;
}

#translated-text {
    display: none;
}

.languages {
    list-style: none;

}

.languages li {
    padding: 5px;
    margin: 5px;
}

.flag {
    border: 1px solid;
}

#bigBtn {
    display: flex;
    width: 322px;
    height: 50px;
    padding: 13px 0px 14px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    background: #035A9D;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 20px;
    box-shadow: none;
}

